@import url(https://79-mu4.github.io/willyoufuckingidiot/sauce.css);

/*PLEASE READ BELOW*/

/*
By Using this Krunker CSS, you have agreed to NOT share this CSS with anyone who is not currently in TIMP,
failing to do so will result in the immediate ban and removal from the clan.
*/

/*Customization*/

:root {
    --accent: #c50020;
    --secondary: #000;
    --accent-text: #fff;
    --secondary-text: #fff;

    --menu-bg: #fff;
    --menu-text: rgba(0,0,0,.25);

    --shadow: rgba(0,0,0,.125);

    --hud-text: #fff;
    --hud-shadow: rgba(50,50,50,.25);
}

@font-face {
    font-family: gamefont;
    src: url(https://raw.githubusercontent.com/South-Paw/typeface-vag-rounded/master/files/vag-rounded-400.woff2);
}

@font-face {
    font-family: JP;
    src: url(https://dl.dropboxusercontent.com/s/u0qp7migs6h0l1c/rounded-x-mplus-1c-black.ttf?dl=0);
}
